#define ZMK_POINTING_DEFAULT_SCRL_VAL 150

#include <behaviors/rgbled_widget.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// Layer Numbering

#define DEFAULT     0
#define WIN_DEFAULT 1
#define NUM         2
#define SYM         3
#define FUN         4
#define MV_MAC      5
#define MV_WIN      6
#define MOUSE       7
#define SCROLL      8
#define BLUETOOTH   9

// ZMKで対応していない、日本語キーの設定

#define JP_DQUOTE       AT                // "
#define JP_AMPERSAND    CARET             // &
#define JP_QUOTE        AMPERSAND         // '
#define JP_EQUAL        UNDER             // =
#define JP_CARET        EQUAL             // ^
#define JP_YEN          0x89              // ¥
#define JP_PLUS         COLON             // +
#define JP_TILDE        PLUS              // ~
#define JP_PIPE         LS(0x89)          // |
#define JP_AT           LEFT_BRACKET      // @
#define JP_COLON        SINGLE_QUOTE      // :
#define JP_ASTERISK     DOUBLE_QUOTES     // *
#define JP_BACKQUOTE    LEFT_BRACE        // `
#define JP_UNDERSCORE   LS(0x87)          // _
#define JP_LBRACKET     RIGHT_BRACKET     // [
#define JP_RBRACKET     BACKSLASH         // ]
#define JP_LPAREN       ASTERISK          // (
#define JP_RPAREN       LEFT_PARENTHESIS  // )
#define JP_LBRACE       RIGHT_BRACE       // {
#define JP_RBRACE       PIPE              // }
#define JP_KANA         LANGUAGE_1        // かな
#define JP_EISU         LANGUAGE_2        // 英数
#define JP_HANZEN       GRAVE             // 半角/全角

&mmv {
    delay-ms = <10>;
    trigger-period-ms = <3>;
    time-to-max-speed-ms = <50>;
    acceleration-exponent = <3>;
};

/ {
    input_processors {
        zip_wheel_scaler: zip_wheel_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        scroll {
            bindings = <&mo 8>;
            key-positions = <35 36>;
        };
    };

    behaviors {
        sensor_rotate_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        mouse_wheel_scroll: mouse_wheel_scroll {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "DEFAULT";
            bindings = <
&kp ESC           &kp Q      &kp W         &kp E         &kp R             &kp T                                       &kp Y             &kp U    &kp I      &kp O    &kp P           &kp BSPC
&lt 4 TAB         &kp A      &kp S         &kp D         &kp F             &kp G        &trans          &tog 1         &kp H             &kp J    &kp K      &kp L    &kp MINUS       &kp RETURN
&kp LEFT_SHIFT    &kp Z      &kp X         &kp C         &kp V             &kp B        &kp LS(N9)      &lt 9 LS(N0)   &kp N             &lt 8 M  &kp COMMA  &kp DOT  &kp FSLH        &kp EQUAL
&kp LEFT_CONTROL  &kp LCTRL  &kp LEFT_ALT  &kp LEFT_GUI  &lt 2 LANGUAGE_2  &lt 3 SPACE  &lt 8 LEFT_ALT  &kp BACKSPACE  &lt 5 LANGUAGE_1                               &kp DOWN_ARROW  &kp UP_ARROW
            >;

            sensor-bindings = <&mouse_wheel_scroll SCRL_UP SCRL_DOWN>;
        };

        windos_default_layer {
            label = "WINDOWS_DEFAULT";
            bindings = <
&kp ESC           &kp Q             &kp W         &kp E         &kp R             &kp T                                           &kp Y             &kp U    &kp I      &kp O    &kp P           &kp BSPC
&lt 4 TAB         &kp A             &kp S         &kp D         &kp F             &kp G        &trans              &trans         &kp H             &kp J    &kp K      &kp L    &kp MINUS       &kp RETURN
&kp LEFT_SHIFT    &kp Z             &kp X         &kp C         &kp V             &kp B        &kp LS(N8)          &lt 9 LS(N9)   &kp N             &lt 8 M  &kp COMMA  &kp DOT  &kp FSLH        &kp JP_UNDERSCORE
&kp LEFT_CONTROL  &kp LEFT_CONTROL  &kp LEFT_GUI  &kp LEFT_ALT  &lt 2 LANGUAGE_2  &lt 3 SPACE  &lt 8 LEFT_CONTROL  &kp BACKSPACE  &lt 6 LANGUAGE_1                               &kp DOWN_ARROW  &kp UP_ARROW
            >;

            sensor-bindings = <&mouse_wheel_scroll SCRL_UP SCRL_DOWN>;
        };

        number_layer {
            label = "NUM";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                                   &trans  &kp N7        &kp N8        &kp N9        &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans           &trans  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT_BRACE  &kp RIGHT_BRACE  &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp DOT  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans           &kp N0                                            &trans   &trans
            >;
        };

        symbol_layer {
            bindings = <
&trans  &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_6)  &trans  &kp TILDE                                       &trans         &trans            &trans             &trans  &kp LS(N5)     &kp BACKSLASH
&trans  &kp LS(N7)        &kp LS(NUMBER_3)  &kp LS(NUMBER_4)  &trans  &trans     &trans            &trans             &kp LS(N8)     &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES  &trans  &kp SEMICOLON  &kp COLON
&trans  &kp PIPE          &trans            &trans            &trans  &trans     &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans         &trans            &trans             &trans  &trans         &kp PLUS
&trans  &trans            &trans            &trans            &trans  &trans     &trans            &trans             &kp LG(SPACE)                                               &kp LG(MINUS)  &kp LG(PLUS)
            >;
        };

        function_layer {
            label = "FUN";
            bindings = <
&trans  &kp LC(Q)  &kp LC(W)  &kp LC(E)       &kp LC(R)  &kp LC(T)                  &trans          &kp UP_ARROW    &trans     &trans  &kp F5   &kp F6
&trans  &kp LC(A)  &kp LC(S)  &kp LC(DELETE)  &kp LC(F)  &kp LC(G)  &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT  &trans  &kp F7   &kp F8
&trans  &kp LC(Z)  &kp LC(X)  &kp LC(C)       &kp LC(V)  &kp LC(B)  &trans  &trans  &kp F1          &kp F2          &kp F3     &kp F4  &kp F9   &kp F10
&trans  &trans     &trans     &trans          &trans     &trans     &trans  &trans  &trans                                             &kp F11  &kp F12
            >;

            sensor-bindings = <&sensor_rotate_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

        mv_screen_mac {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &kp LG(RIGHT_BRACKET)  &kp LC(LEFT_ARROW)  &kp LC(UP_ARROW)  &kp LC(RIGHT_ARROW)  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LG(LEFT_BRACKET)   &trans              &trans            &trans               &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LG(LS(L))          &kp LG(LEFT_ARROW)  &kp LG(ENTER)     &kp LG(RIGHT_ARROW)  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                                                                            &trans  &trans
            >;
        };

        mv_screen_windows {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &kp LC(RIGHT_ARROW)  &kp LG(LA(LEFT_ARROW))  &kp LG(TAB)       &kp LA(LG(RIGHT_ARROW))  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LC(LEFT_ARROW)   &trans                  &trans            &trans                   &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans               &kp LG(LEFT_ARROW)      &kp LG(UP_ARROW)  &kp LG(RIGHT_ARROW)      &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                                                                                  &trans  &trans
            >;
        };

        mouse_layer {
            label = "MOUSE";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans     &trans     &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp LCLK  &mkp RCLK  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                                &trans  &trans
            >;
        };

        scroll_layer {
            label = "SCROLL";
            bindings = <
&trans  &trans  &trans                    &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp LG(LS(LC(NUMBER_4)))  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans                          &trans  &trans
            >;
        };

        bluetooth_layer {
            label = "SYM";
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &bt BT_SEL 4                                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &bt BT_CLR_ALL  &bt BT_CLR    &trans           &trans         &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &ind_con        &ind_bat      &kp RIGHT_BRACE  &kp BACKSLASH  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans          &trans        &trans           &trans         &trans                          &trans  &trans
            >;
        };
    };
};
